$breakpoint-xl4k: 3840px;
$breakpoint-xl2k: 2560px;
$breakpoint-xxxl: 1920px;
$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 1025px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 320px;
