$color-default00: #f5f5f5;
$color-default10: #4f5760;
$color-default20: #68738d;
$color-default30: #a8afb7;
$color-default40: #cacfd3;
$color-destructive20: #ae0000;
$color-destructive30: #e95557;
$color-destructive40: #ff0000;
$color-destructive50: #ff6969;
$color-fuchsia40: #e156d0;
$color-lavender40: #8f7dff;
$color-positive10: #003f3b;
$color-positive20: #00856f;
$color-positive30: #00ad96;
$color-positive40: #00d1ae;
$color-positive50: #33ffcc;
$color-positive60: #a1ffe0;
$color-primary00: #001018;
$color-primary10: #081825;
$color-primary15: #43576d;
$color-primary20: #003470;
$color-primary30: #005ac2;
$color-primary40: #0f7fff;
$color-primary50: #57a5ff;
$color-primary60: #99d3ff;
$color-primary70: #f5f5f5;
$color-primary80: #00006b;
$color-purple10: #1f1446;
$color-purple20: #6012a1;
$color-purple50: #9b22ff;
$color-sky40: #01c0f4;
$color-turquoise40: #01cbd2;
$color-warning40: #f9edba;
$color-warning50: #f0c800;
$color-warning60: #fefaed;
$color-white: #fffffe;
