name: PNPM publish
on:
    push:
        branches:
            - test
env:
    CI: true
    PNPM_CACHE_FOLDER: .pnpm-store

jobs:
    release:
        timeout-minutes: 15
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v2
              with:
                  # This makes action fetch all Git history so that Changesets can generate changelogs with the correct commits
                  fetch-depth: 0

              #Install pnpm
            - name: Install pnpm
              uses: pnpm/action-setup@v2.2.2
              with:
                  version: 7

            - name: Use Node ${{ matrix.node }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node }}

            - name: Setup npmrc
              run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc

            - name: setup pnpm config
              run: pnpm config set store-dir $PNPM_CACHE_FOLDER

            - name: Install
              run: pnpm install
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            - run: git config --global user.name "GitHub CD bot"
            - run: git config --global user.email "pikachu1748@gmail.com"

            - name: Build
              run: pnpm run build

            - name: create and publish versions
              uses: changesets/action@v1
              with:
                  publish: pnpm ci:publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
